name: Python Tests
permissions:
  contents: read
on:
  pull_request:
    paths:
      - "mpscraper/**"
      - "tests/**"
      - "uv.lock"
      - "pyproject.toml"
      - ".github/workflows/test.yml"
  push:
    branches:
      - "main"
    paths:
      - "mpscraper/**"
      - "tests/**"
      - "uv.lock"
      - "pyproject.toml"
      - ".github/workflows/test.yml"
env:
  PYTHON_VERSION: 3.14
jobs:
  lint:
    name: Lint
    runs-on: "ubuntu-latest"
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          activate-environment: true
      - name: Install dependencies
        run: uv sync --all-groups
      - uses: pre-commit/action@v3.0.1
        env:
          RUFF_OUTPUT_FORMAT: github
  test:
    runs-on: "ubuntu-latest"
    permissions:
      contents: read
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          activate-environment: true
      - name: Install dependencies
        run: uv sync --all-groups
      - name: Install xvfb & chromium-browser
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb chromium-browser
      - name: Setup Chromedriver
        uses: nanasess/setup-chromedriver@v2
        env:
          CHROMEAPP: chromium-browser
      - name: Run Chromedriver
        run: |
          echo "CHROMIUM_PATH=$(which chromium)" >> "$GITHUB_ENV"
          echo "CHROMEDRIVER_PATH=$(which chromedriver)" >> "$GITHUB_ENV" 
          export DISPLAY=:99
          chromedriver --url-base=/wd/hub &
          sudo Xvfb -ac :99 -screen 0 1280x1024x24 > /dev/null 2>&1 &
      - name: Run Pytest
        run: |
          pytest -vv --cov=./mpscraper --cov-report=xml ./tests
      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  security:
    runs-on: "ubuntu-latest"
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          activate-environment: true
      - name: Install dependencies
        run: uv sync --all-groups
      - name: Run Bandit
        run: uv run bandit -r ./mpscraper
